<div class="container-fluid his-container ris-container" style="padding-left: 0px; padding-right: 0px;">
        <form class="his-form" name="theme.sampleForm">
          <div class="row" style="padding-right: 0px;">
              <div class="col-sm-3 col-md-3 col-lg-3" style="padding-left: 0px;">
                      <label for="equipmentform">* Equipment Id</label>
                  <div class="row"  id="equipmentform">
                      
                  <div class="col-sm-4 col-md-4 col-lg-4 stick-left">
				  
                      <div class="form-group">
                            <input class="form-control" type="text" placeholder="Code" id="equipmentcodefield" ng-model="invisibleModCode" style="display: none">
                      <input class="form-control" type="text" placeholder="Code" id="equipmentcodefield" ng-model="AcceptedCode">
                      </div>
                  </div>
                  <div class="col-sm-8 col-md-8 col-lg-8 stick-right" style="padding-left: 0px;">
                      <div class="form-group cust-search-addon">
                          <div class="input-group">
                          <input type="text" class="form-control" aria-label="Search" placeholder="Description" ng-model="AcceptedEquipmentDescription">
                          <span class="input-group-addon" style="border-top: 0px; border-bottom:0px;" ng-click="open('md');"><i class="fa fa-search"></i></span>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
			  <label for="addbutton">&nbsp;</label>
			  <div class="row"  id="addbutton" ng-model="addButton" ng-show="addButton">
                  <button class="his-btn his-btn-info" ng-click="saveModalityInGrid()"><i class="fa fa-plus" aria-hidden="true" ></i> &nbsp; Add</button> &nbsp;&nbsp;
				  </div>
              </div>
          </div>
      </form>
    <!--  <form class="his-form">
        <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 pull-left" style="padding-left: 0px;">
                        
                                <div class="form-group cust-search-addon">
                                        
                                        <div class="input-group">
                                        <input type="text" class="form-control" aria-label="Search" placeholder="Enter">
                                        <span class="input-group-addon" style="border-top: 0px; border-bottom:0px;"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                        
                      </div>
                    
                      <div class="col-sm-6 col-md-6 col-lg-6 his-grid-actions">
                        <div class="pull-right">
                          <div class="btn-group" role="group">
                            <div class="his-inline record-count">
                              <medium class="text-muted">Display</medium>
                              <medium class="text-muted">Records</medium>
                            </div>
                          </div>
                        </div>
                      </div>
        </div>
      </form>
      <div class="col-md-12 mygrid" style="padding: 0px;">
            <div ui-grid="gridOptions" class="grid" ui-grid-edit>
            </div>
          </div>   -->
      </div>
      
      
      
      