<div class="row">
	<input type="hidden" ng-model="invDet.Pcode">
	<input type="hidden" ng-model="invDet.Ccode">
	<input type="hidden" ng-model="invDet.orderId" />
	<input type="hidden" ng-model="invDet.orderDetailId" />
	<input type="hidden" ng-model="invDet.regseqid" />
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<label>Investigation</label>
		 <input type="text"  ng-model="invDet.Investigation" class="form-control" placeholder="Investigation" readonly value="">
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<label>Location</label>
		 <input type="text" ng-model="invDet.Location" class="form-control" placeholder="Department" readonly value="">
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<label>Modality</label> {{modalities}}
		 <select  ng-model="invDet.Modality" class="form-control" ng-options="modalities.CODE as modalities.DESCRIPTION for modalities in modalitiesDetails">
			<option value="">Select</option>                
		</select>
	</div>
	
	 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<label>Clinical Remarks</label>
		 <textarea ng-model="invDet.clinicalRemarks" class="form-control" readonly></textarea>
	</div>
</div>
        
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<div class="his-custom-calendar" style="background-color:#fff !important;">
			<div class="his-form">
				<div class="form-group">
					<label>Date &amp; Time</label>
					<div class="input-group remove-date-border">
						<input class="form-control dateType" ng-model="invDet.toDateOptions" datetimepicker options="toDateOptions" placeholder="Enter" readonly />
						<span class="input-group-addon" style="background-color: #FFF;padding-top: 3.5px !important;"><span class="glyphicon glyphicon-calendar" disabled></span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
