<div class="row">
    <uib-accordion close-others="theme.oneAtATime">
        <div uib-accordion-group class="his-panel" is-open="openaccordian"  heading="PATIENT INFORMATION" template-url="his-heading-template.html">
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>MR No.</label><br>
                        <input type="text" class="form-control" ng-model="reportDispatch.mrno"placeholder="Enter" disabled>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Name</label><br>
                        <input type="text" class="form-control" ng-model="reportDispatch.name" placeholder="Enter" disabled>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>Age / Gender</label><br>
                    <input type="text" class="form-control" ng-model="reportDispatch.gender" placeholder="Enter" disabled>
                </div>
            </div>
        </div>
        
    </uib-accordion>
</div>

<div class="row">
    <uib-accordion close-others="theme.oneAtATime">
        <div uib-accordion-group class="his-panel" is-open="openaccordian"  heading="DISPATCH INFORMATION" template-url="his-heading-template.html">
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>Dispatch By</label><br>
                    <input type="text" class="form-control" ng-model="reportDispatch.dispatchBy"placeholder="Enter" disabled>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><span class="req-field"></span>Dispatch To</label><br>
                   
                    <label class="radio-inline ng-binding">
                        <input type="radio" name="optradio" ng-model="reportDispatch.isStaffandPatient" value="0">Patient / Attendent
                    </label>
                    
                    <label class="radio-inline ng-binding">
                        <input type="radio" name="optradio" ng-model="reportDispatch.isStaffandPatient" value="1">Staff
                    </label>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="reportDispatch.isStaffandPatient == '0'">
                    <label><span class="req-field"></span>Patient / Attendant Name</label><br>
                    <input type="text" class="form-control" ng-model="reportDispatch.isPatent"placeholder="Enter" >
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="reportDispatch.isStaffandPatient == '1'">
                    <label><span class="req-field"></span>Patient / Attendant Name</label><br>
                    <select class="form-control" ng-model="reportDispatch.isStaff">
                        <option>Select One</option>
                        <option ng-options="isStaff.DESCRIPTION for isStaff in getStaffDropdown track by isStaff.CODE" >
                        </option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <button type="button" class="his-btn his-btn-success" ng-click="reportDispatchSave()">Save</button>
            </div>
        </div>
        
    </uib-accordion>
</div>



<script type="text/ng-template" id="his-heading-template.html">

  <div>
    <hr class="his-heading-line">
    <h4>
        <span tabindex="0" class="accordion-toggle"  uib-accordion-transclude="heading">

          <span class="his-section-heading-text">{{heading}}</span>
        </span>
      </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
    <div ng-transclude></div>
  </div>
</script>